<html>
    <head>
        <title>product detais</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
     <main>
         <div class="container">
             <div class="cover">
                 <img src="" alt="" id="image">
             </div>
             <div class="content">
                 <div class="nav">
                     <span class="logo">ROLIX</span>
                     <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
                 </div>
                 <div class="content-body">
                     <div class="pages">
                         <span class="active"><b>01</b></span>
                         <span>02</span>
                         <span>03</span>
                         <span>04</span>
                     </div>
                     <div class="black-label">
                         <span class="title" id="product-name"><b>Black Label</b></span>
                         <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                            Tenetur corporis modi aliquam, quis laborum a nam fugit ducimus? 
                            Molestiae repellendus adipisci ea aut eligendi nemo velit itaque,
                             illum placeat? Velit.
                             </p>
                             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                                Tenetur corporis modi aliquam, quis laborum a nam fugit ducimus? 
                                Molestiae repellendus adipisci ea aut eligendi nemo velit itaque,
                                 illum placeat? Velit.
                                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                    
                                 <div class="prix">
                                    <span><b id="price">$612.00</b></span>
                                    <span class="crt">Add to card</span>
                                </div>
                                </div>

                    
                 </div>
                 
             </div>
         </div>
     </main>
         
    </body>
    <script src="./js/script.js"></script>
    <script src="./js/product-detail.js"></script>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- <script src="./script.js"></script> -->
<script src="../admin/js/store.js"></script>
<script src="./js/product-detail.js"></script>
<script src="script.js"></script>

